<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">  
  {{{ _sections.style }}}
  {{{ _sections.head }}}
  <link rel="stylesheet" href="/bootstrap.min.css">
</head>

<body>  
  <div class="container">
    {{{body}}}
  </div>
  

  {{{ _sections.script }}}
</body>

</html>