<p>Custom Script Section</p>

{{#section 'script'}}

  <script>
    alert('2')
  </script>

{{/section}}

{{#section 'style'}}

  <style>
    body {
      background: #3498db;
      color: #fff;
    }
  </style>

{{/section}}