<h1>Sign up here....</h1>
<form action="/signup-process?form=signupform" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="fieldName">Name</label>
    <input type="text" id="fieldName" class="form-control" name="name">
  </div>
  <div class="form-group">
    <label for="fieldEmail">Email</label>
    <input type="text" name="email" id="fieldEmail" class="form-control">
  </div>

  <div class="form-group">
    <label for="fieldFile">File</label>
    <input type="file" name="file" id="fieldFile" class="form-control">
  </div>

  <button class="btn btn-primary">Submit</button>
</form>